* {
    box-sizing: boarder-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    width: 90vw;
    display:flex;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:
}