@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');


body {
    font-family: "Anta", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margain: 0;
}

.loading-text {
    font-size: 50;
}



bg {
    height:100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    background-image: url("images/nature.jpg");
}