

body {
    background-color: lightcoral;
    height: 100vh;
    display flex;
    align-items: center;
    justify-content: center;
    margain: 0;
}

.search {
    height: 200px;
    width: 300px;
    background-color: purple;
    position: relative;
}

.search .btn{
    position: absolute;
    top: -20px;
    left: -30px;
}