

body {
    background-color: lightcoral;
    height: 100vh;
    display flex;
    align-items: center;
    justify-content: center;
    margain: 0;
}

.search {
    height: 200px;
    width: 200px;
    background-color: purple;
}